<div class="container">
<h1>Mat Board Calculator</h1>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <form name="myForm">
                <div class="col-md-4" class="form-group">
                    <fieldset>
                        <legend>Mat Board Dimensions</legend>
                        <label for="mat_width">Width:</label>
                        <input id="mat_width" type="number" step="any" ng-model="mat_width" class="form-control" min="0" ng-blur="normalise_input('mat')" required></input>
                        <label for="mat_height">Height:</label>
                        <input id="mat_height" type="number" step="any" ng-model="mat_height" class="form-control"min="0" ng-blur="normalise_input('mat')" required></input>
                    </fieldset>
                    <br/>
                    <fieldset>
                        <legend>Image Dimensions</legend>
                        <p>This is the size of the image which you are printing.</p>
                        <label for="image_width">Width:</label>
                        <input id="image_width" type="number" step="any"  ng-model="image_width" class="form-control" min="0" ng-blur="normalise_input('image')" required></input>
                        <label for="image_height">Height:</label>
                        <input id="image_height" type="number" step="any" ng-model="image_height" class="form-control"min="0" ng-blur="normalise_input('image')" required></input>
                    </fieldset>
                    <br/>
                    <fieldset>
                        <legend>Page Dimensions</legend>
                        <p>This is the size of the paper or material on which you printing the image. It is here to help you place the paper/material on the backmat.</p>
                        <label for="page_width">Width:</label>
                        <input id="page_width" type="number" step="any"  ng-model="page_width" class="form-control" min="0" ng-blur="normalise_input('page')" required></input>
                        <label for="page_height">Height:</label>
                        <input id="page_height" type="number" step="any" ng-model="page_height" class="form-control"min="0" ng-blur="normalise_input('page')" required></input>
                    </fieldset>
                    </br>                    
            </div>
            <div class="col-md-4" class="form-group" id="calulationsDiv">
                <fieldset>
                    <legend>Options</legend>
                    <label for="options_units">Units: </label>
                    <select id="options_units" ng-model="options_units" ng-change="convertUnits()">
                      <option value="mm">mm</option>
                      <option value="cm">cm</option>
                      <option value="inches">inches</option>
                    </select>
                    <br/>
                    <label for="options_overlap">Image/Mat overlap</label>
                    <p>Positive numbers mean that the mat will overlay the image. Negative numbers will reveal part of the page through the front mat window.</p>
                    <input id="options_overlap" type="number" step="any" ng-model="options_overlap" class="form-control" ng-blur="normalise_input('options')" required></input>
                    <label for="options_bottom_weight">Bottom weight:</label>
                    <input type="number" step="any" id="options_bottom_weight" ng-model="options_bottom_weight" class="form-control" min="0" ng-blur="normalise_input('options')" required></input>
                    <label for="options_show_measurements">Show measurements:   </label><input type="checkbox" ng-model="options_show_measurements" id="options_show_measurements" ng-change="updateCanvas()">
                </fieldset>
                </form>
                <div ng-hide="sizeErrors">
                <h3>Calculations</h3>
                    <div class="well">
                        <em>"Measure twice, cut once".</em> This only works if your input measurements are correct. <strong>Stop if it does not look correct after drawing it out.</strong> All the following are in units of <strong>{{options_units}}</strong>.
                        <h4>Print Margins</h4>
                        Top: {{image_top_margin}}
                        <br/>
                        Left: {{image_left_margin}}
                        <br/>
                        <h4>Front Mat</h4>
                        Window distance from top of mat: {{window_top_offset}}
                        <br/>
                        Window distance from sides of mat: {{window_left_offset}}
                        <br/>
                        Window distance from bottom of mat: {{window_bottom_offset}}
                        <br/>
                        <h4>Back Mat</h4>
                        Print distance from top of back mat: {{page_top_offset}}
                        <br/>
                        Print distance from sides of back mat: {{page_left_offset}}
                        <br/>
                        Print distance from bottom of back mat: {{page_bottom_offset}}
                        <br/>
                        <br/>
                    </div>
                </div>
                <div ng-show="sizeErrors">
                    <h3>Validation Errors</h3>
                    <div class="well">
                        {{sizeErrorString}}
                    </div>
                </div>

            </div>
            <div class="col-md-4" class="form-group" id="previewDiv" ng-show="canvasSupported">
                <h3>Front Mat Preview</h3>
                <canvas id="front_canvas" height="300px"></canvas>
                <br/>
                <h3>Back Mat Preview</h3>
                <canvas id="back_canvas" height="300px"></canvas>
            </div>
            <div class="col-md-4" class="form-group" id="sadDiv" ng-hide="canvasSupported">
                <br/>
                <legend>HTML 5 Canvas not supported</legend>
                To see previews, you need to upgrade your browser by installing an up-to-date version of <a href="https://www.mozilla.org/en-US/firefox/new/">Firefox</a> or <a href="https://www.google.com.au/chrome/">Google Chrome</a>.
            </div>
          </div>
    </div>
    <a href="https://angularjs.org/">AngularJS</a> Mat Board calculator by <a href="http://www.chrisspeck.com">Chris Speck</a>, (c) 2014 subject to <a href="LICENSE.txt">3 clause BSD license</a> and source avaliable at <a href="https://github.com/cgspeck/angular-mat">Github</a>.
</div>