<div class="container">
<h1>Mat Board Calculator</h1>
    <div class="row">
        <div class="col-md-12 col-xs-12">
            <div class="col-md-4" class="form-group">
                <fieldset>
                    <legend>Mat Board Dimensions</legend>
                    <label for="sheet_width">Width:</label>
                    <input type="text" id="sheet_width" type="number"  ng-model="sheet_width" class="form-control"></input>
                    <label for="sheet_height">Height:</label>
                    <input type="text" id="sheet_height" type="number" ng-model="sheet_height" class="form-control"></input>
                    <label for="sheet_units" ng-model="sheet_units">Units:</label>
                    <select id="sheet_units" ng-model="sheet_units">
                      <option value="mm">mm</option>
                      <option value="cm">cm</option>
                      <option value="inches">inches</option>
                    </select>
                </fieldset>
                <br/>
                <fieldset>
                    <legend>Image Dimensions</legend>
                    <label for="image_width">Width:</label>
                    <input type="text" id="image_width" type="number"  ng-model="image_width" class="form-control"></input>
                    <label for="image_height">Height:</label>
                    <input type="text" id="image_height" type="number" ng-model="image_height" class="form-control"></input>
                    <label for="image_units">Units:</label>
                    <select id="image_units" ng-model="image_units">
                      <option value="mm">mm</option>
                      <option value="cm">cm</option>
                      <option value="inches">inches</option>
                    </select>

                </fieldset>
                <br/>
                <fieldset>
                    <legend>Options</legend>
                    <label for="options_horizontal_overlap">Bevel horizontal distance:</label>
                    <input type="text" id="options_horizontal_overlap" type="number"  ng-model="options_horizontal_overlap" class="form-control"></input>
                    <label for="options_bottom_weight">Bottom weight:</label>
                    <input type="text" id="options_bottom_weight" type="number"  ng-model="options_bottom_weight" class="form-control"></input>
                    <label for="options_units">Units:</label>
                    <select id="options_units" ng-model="options_units">
                      <option value="mm">mm</option>
                      <option value="cm">cm</option>
                      <option value="inches">inches</option>
                    </select>                    
                </fieldset>
            </div>
            <div class="col-md-4" class="form-group" id="calulationsDiv">
                <legend>Calculations - Front</legend>
                Bevel distance from sides of mat: {{bevel_left_offset}} {{options_units}}
                <br/>
                Bevel distance from top of mat: {{bevel_top_offset}} {{options_units}}
                <br/>
                Bevel distance from bottom of mat: {{bevel_bottom_offset}} {{options_units}}
                <br/>
                <br/>
                <legend>Calculations - Back</legend>
                Window distance from sides of mat: {{window_left_offset}} {{options_units}}
                <br/>
                Window distance from top of mat: {{window_top_offset}} {{options_units}}
                <br/>
                Window distance from bottom of mat: {{window_bottom_offset}} {{options_units}}
                <br/>
                <button id="update" ng-click="updateCanvas()">Update</button>
            </div>
            <div class="col-md-4" class="form-group" id="resultsDiv">
                <br/>
                <legend>Front Preview</legend>
                <canvas id="front_canvas" height="300px"></canvas>
                <br/>
                <legend>Back Preview</legend>
                <canvas id="back_canvas" height="300px"></canvas>
            </div>
        </div>
    </div>
</div>